/* =Global
------------------------------------------------------------------*/

html, body, form, fieldset, h1, h2, h3, h4, h5, h6, pre, blockquote, ul, ol, dl, address, .more-link  {
	color:#323232;
	margin:0;
	padding:0;
	}
